<%- include('../bootstrap.min.ejs') %>
<%- include('style.ejs') %>
<section>
<div class="card" style="width: 18rem;">
    <%- include('../video/video.ejs') %>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <%- include('../video/video.ejs') %>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <%- include('../video/video.ejs') %>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <%- include('../video/video.ejs') %>
    </div>
  </div>
</section>
